<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>
        Class Name:
        <input ng-model="class.name" placeholder="Name of class"/>
      </h1>
      <input type="text"  ng-model="newMemberName" placeholder="Name" />
      <input type="email" ng-model="newMemberEmail" placeholder="Email" />
      <a ng-click="addMember()"><i class="fa fa-plus"></i> Add Member</a>

      <div ng-repeat="member in class.members">
        <strong>{{member.name}}</strong> {{member.email}}
        <a ng-click="removeMember(member)"><i class="fa fa-close"></i></a>
      </div>
      <a class="btn btn-primary" ng-click="create()" ng-disabled="!class.members.length">Create</a>
    </div>
  </div>
</div>
