$color-primary: #8365BF;
$color-accent: #A1BF65;
$color-grey: #BEBBC4;

* { box-sizing: border-box; }
body { padding-top: 50px; }
a {
  cursor: pointer; color: $color-primary;
  &:hover { color: $color-primary; text-decoration: underline; }
}
label { cursor: pointer; }
.btn-primary {
  background-color: $color-primary;
  border-color: $color-primary;
  &:hover {
    box-shadow: 0 2px 10px $color-grey;
    background-color: $color-primary;
    border-color: $color-primary;
  }
}
h1 { font-size: 16px;}
h2 { font-size: 14px; margin: 1em 0; }
i.fa-circle-o-notch { color: $color-grey; }
body.classes-show {
  input[type=checkbox] { display: none }
  .submit { text-align: center; border-top: 1px solid $color-grey; padding: 2em; margin-top: 1em; }
}

ol, ul { padding: 0; }
li { list-style: none; }

aside {
  color: $color-grey;
  ul { border-right: 1px dashed $color-grey; }
}

.m-member {
  display: inline-block;
  margin-right: .5em;
  border: 1px solid $color-grey;
  border-radius: 3px;
  padding: 1em;
  margin-bottom: 1em;
  font-weight: normal;
  &.s-chosen {
    border-color: $color-primary;
    background-color: $color-primary;
    box-shadow: 0 2px 10px $color-grey;
    color: white;
  }
  &.s-locked-in {
    color: $color-accent;
    border-color: $color-accent;
  }
  &.s-inactive {
    color: $color-grey;
    border-color: $color-grey;
  }
  &.t-list {
    padding: .5em;
    border-radius: 0;
    border-width: 0 0 1px 0;
    border-style: dashed;
    margin: 0;
    display: block;
    &:first-child {
      border-width: 1px 0;
    }
  }
}
