<div class="container" ng-cloak>
  <h1>
    {{class.name}}
    <i class="fa fa-circle-o-notch fa-spin" ng-hide="class.members.length"></i>
  </h1>

  <div class="row">
    <div class="col-sm-8 col-sm-push-4">
      <div ng-show="authenticationFailed">
        Sorry, looks like you followed a bad link. Bye! Come back never!
      </div>
      <div ng-show="currentUser">
        <h2>Welcome, {{currentUser.name.split(' ')[0]}}. Whom do you want to play with? Your picks are private.</h2>
        <label ng-repeat="member in class.members" class="m-member" ng-class="{'s-chosen': member.chosen}">
          <input ng-model="member.chosen" type="checkbox" />
          {{member.name}}
        </label>
        <div class="submit">
          <a class="btn btn-primary" ng-click="save()">Save Picks</a>
        </div>
      </div>
    </div>
    <aside class="col-sm-4 col-sm-pull-8">
      <h2>Class Status</h2>
      <ul>
        <li ng-repeat="participant in participants" class="m-member t-list s-locked-in">
          <i class="fa fa-lock"></i>
          {{participant | slugToName }}
        </li>
        <li ng-repeat="abstainer in abstainers" class="m-member t-list s-inactive">
          <i class="fa fa-cog fa-spin"></i>
          {{abstainer.name}}
        </li>
      </ul>
    </aside>
  </div>
</div>
